.vscode/**
.vscode-test/**
.claude/**
out/**
out-test/**
out-test-webview/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.test.json
tsconfig.webview.test.json
**/.eslintrc.json
**/*.map
**/*.ts
**/webpack.config.js
node_modules/**
i18n/**
icon.xcf
demo/**
loader/**
scripts/**
webviewsrc/**
resource/**
prod/**
test/**
test-ui/**
static/test.js
Plan.md
.github/**
original/**
